<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836533136384-0o2p8qk0a246a7eiemo5pom61v5utb9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836533136384-0o2p8qk0a246a7eiemo5pom61v5utb9a</string>
	<key>API_KEY</key>
	<string>AIzaSyCNmTSlhcbTgaoC0RuT7-V5sp44mfMieh8</string>
	<key>GCM_SENDER_ID</key>
	<string>836533136384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artspb94.Instagram19941</string>
	<key>PROJECT_ID</key>
	<string>instagram-5ba0f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-5ba0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836533136384:ios:aa8c515e73ea4d3adf7ce5</string>
</dict>
</plist>